[Desktop Entry]
Name=Komorebi
Comment=An awesome wallpaper manager!
Keywords=wallpaper;settings; preferences;
Icon=/usr/share/pixmaps/komorebi/komorebi.svg
Exec=/usr/bin/komorebi
Terminal=false
Type=Application
StartupNotify=true
Categories=GNOME;GTK;Settings;DesktopSettings;
X-GNOME-Autostart-enabled=true
